<!DOCTYPE html>
<html>
<head>
<p align="right" > <a href="/" >>>MENU<<</a></p>
	<title>Acaba</title>
</head>

<center>

</center> 
<body background="img/Background.png">
<div id="app"></div>
<style> 
	body{ 
		background:url("img/Background.png") 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
<center>
	<font face="23" size="Verdana" color="blue">
	<h2>ANSWER FOR #1</h2>
	<h2> </h2>
	<h2>SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users; these visitors can then be converted into customers.
</h2>
</font>

	</center>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="js/A1.js"></script>
</body>
</html>