<!DOCTYPE html>
<html>
<head>
	<title>Acaba</title>
	<p align="right" > <a href="/" >>>MENU<<</a></p>

</head>

<center>

</center> 
<body background=="img/Background.png">
<div id="app"></div>
<style> 
	body{ 
		background:url(="img/Background.png") 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
<center>
	<font face="23" color="white">
	<h2>ANSWER FOR #2</h2>

   <h2>2.1 Quality content is, of course, very important.</h2>
   <h2>2.2 Work to be an expert, authority, and trustworthy in your industry.</h2>
   <h2>2.3 Online and offline reputation will impact your ranking.
   <h2>2.4 Your website does not need to include all of the latest bells and whistles, but </h2>  <h2>should be functional. Make it easy for users to find the information that they’re looking for.</h2>
   <h2>2.5 YMYL pages are viewed more critically.</h2>
   <h2>2.6  Include good supplemental content on your site.</h2>
   <h2>2.7 Ads are okay as long as they do not disrupt the user experience, or distract from the main content.</h2>
   <h2>2.8 Make sure your website is mobile-friendly.</h2>
   <h2>2.9 Check for broken links.</h2>
   <h2>2.10 Prevent or remove spam comments.</h2>
   <h2>2.11 Add fresh content to your website.</h2>
   <h2>2.12 Update stale or out-of-date content.</h2>
   <h2>2.13 Collect positive customer reviews.</h2>
   <h2>2.14 Make sure your contact information is available on your website.</h2>
   <h2>2.15 Answer common user queries concisely, at the beginning of your article, and use structured data markup on your webpages.</h2>

</font>

	</center>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="js/A1.js"></script>
</body>
</html>