<!DOCTYPE html>
<html>
<head>
	<title>Acaba</title>
	<p align="right" > <a href="/" >>>MENU<<</a></p>

</head>

<center>

</center> 
<body background="img/Background.png">
<div id="app"></div>
<style> 
	body{ 
		background:url("img/Background.png") 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
<center>
	<font face="23" color="red">
	<h2>ANSWER FOR #3</h2>
   <h2>If you are in business, there are some very real and specific to having a consistent ongoing Search Engine Optimization strategy. For the first time in history of marketing, users are offering up their actual intent through the words that they type into search engines. And more than ever before, you can measure the result of your SEO efforts as a marketing channel. While search engines 	dont charge you for listing your web pages, planning and implementing SEO in your organization is certainly not free. You'll ned to spend the time, money, and resources to do this the right way.
	</h2>

	<h2>The good news is that this can help you obtain a tremendous marketing reach, attract more targeted visitors, and measure the impact of your efforts in terms of a return on your investment. More and more content appears on the web every second of everyday. And your costumers need search engines to help make sense of it all. In fact, the bigger the web gets, the more search engines usage continues to grow. People search to find answers to their questions.</h2>

</font>

	</center>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="js/A1.js"></script>
</body>
</html>