<!DOCTYPE html>
<html>
<head>
	<title>Acaba</title>
	<p align="right" > <a href="/" >>>MENU<<</a></p>

</head>

<center>

</center> 
<body background="img/Background.png">
<div id="app"></div>
<style> 
	body{ 
		background:url("img/Background.png") 
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;	
</style>
<center>
	<font face="23" color="green">
	<h2>ANSWER FOR #4</h2>
	<h2> </h2>
   <h2>*Set realistic goals</h2>
   <h2>*Measure the right thing</h2>
   <h2>*Set a baseline</h2>
   <h2>*Pulling it together</h2>

</font>

	</center>
<script type = "text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.js"></script>
<script type = "text/javascript" src="js/A1.js"></script>
</body>
</html>